<form action="/customers/new" method="POST">

  <label for="customer-new">Enter Customers Name:</label>
  <input type="text" name="name" id="customer-new">
  
    
  <input type="submit" value="Create Customer Profile!">
</form>
